{% for nombre_servidor, datos in hostvars.items()) %}
{% if 'default_ipv4' in datos['ansible_facts'] %}
{{ datos['ansible_facts']['default_ipv4']['address'] }} {{ nombre_servidor }}
{% endif %}
{% endfor %}
